<table>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= link_to t('views.common.show'), user %> </td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="paginate_main">
  <%= paginate @users %>
</div>

<div class="paginate_sub">
  <%= page_entries_info @users %>
</div>
