<h1><%= t :Editing_Book, scope: [:page_title] %></h1>

<%= render 'form', book: @book %>

<%= link_to t(:Show, scope: [:operation]), @book %> |
<%= link_to t(:Back, scope: [:operation]), books_path %>
